*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    padding: 30px;
}
.cir, .cir2, .cir3, .cir4{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.cir{
    background-color: #9984F2;
}
.cir2{
    background-color: #FF7C04;
}
.cir3{
    background-color: #FF4C61;
}
.cir4{
    background-color: #44D9A7;
}
.right{
    float: right;
  
}

